.cart {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  border-radius: 25px;
  font-size: 1.1rem;
  padding: 4px;
}

.cartAnimation {
  animation: bubble;
  animation-duration: 300ms;
}

@keyframes bubble {
  0% {
    transform: scale(0.3, 0.3);
  }

  50% {
    transform: scale(1.3, 1.3);
  }

  100% {
    transform: scale(1, 1);
  }
}

.cart p {
  margin: 0;
  font-weight: bold;
}

.cart p:last-child {
  background-color: greenyellow;
  padding: 1% 6%;
  border-radius: 12px;
  margin: 2%;
}
