.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form input {
  border: 0;
  border-radius: 4px;
  margin: 3%;
  height: 28px;
  font-size: 1.1rem;
  width: 30%;
}

.form label {
  margin: 2%;
}
